.grid {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin-bottom: 15px;

    h1 {
        grid-column: 1 / -1;
        justify-self: center;
    }

    img {
        border-radius: 5px;
        border: 1px solid $border-color;
    }
}

@media screen and (max-width: 700px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

.gallery {
    margin: 5px;
}
