img {
    border-radius: 5px;
}

/* .header {
    img {
        // max-width: 367px;
        width: 100%;
        //max-width: 30%;
        height: auto;
    }
} */

.logo {
    img {
        // max-width: 100%;
        width: 200px;
        //max-width: 30%;
        // height: auto;
    }
}

.main {
    img {
        //width: 100%;
        max-width: 100%;
        height: auto;
    }
}
