.newhome-grid {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 50px);
    // margin-bottom: 15px;
    padding: 10px;
    justify-items: center;

    p {
        margin: 0;
    }

    h1 {
        margin: 0;
        padding: 0;
        font-size: 1.5em;
    }
}

.border-main {
    padding: 10px;
    border: 3px solid $newhome-color-main;
    grid-column: 1/3;
    grid-row: 1/1;
    justify-self: center;
    overflow: hidden;
}

.main-color {
    color: $newhome-color-main;
    font-size: 1.4em;
}

.alt-color {
    color: $newhome-color-alt;
    font-size: 1.4em;
}

.name {
    grid-column: 2/4;
    grid-row: 2/3;
}

.birth {
    grid-column: 3/5;
    grid-row: 3/4;
}

.age {
    grid-column: 4/6;
    grid-row: 4/5;
}

.location {
    grid-column: 5/7;
    grid-row: 5/6;
}

.lastname {
    grid-column: 6/8;
    grid-row: 6/7;
}

.border-bottom {
    padding: 10px;
    border: 3px solid $newhome-color-main;
    grid-column: 7/9;
    grid-row: 7/8;
    justify-self: center;
    overflow: hidden;
}

.pico {
    grid-column: 5/7;
    grid-row: 3/4;
}

.markdown {
    grid-column: 6/8;
    grid-row: 2/3;
}

.markup {
    grid-column: 7/9;
    grid-row: 1/2;
}

.design {
    grid-column: 3/5;
    grid-row: 5/6;
}

.color {
    grid-column: 2/4;
    grid-row: 6/7;
}

.typography {
    grid-column: 1/3;
    grid-row: 7/8;
}
