.tech-grid {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin-bottom: 15px;

    h1 {
        grid-column: 1 / -1;
        justify-self: center;
    }
}

@media screen and (max-width: 500px) {
    .tech-grid {
        grid-template-columns: 1fr;
    }
}

.grid-box {
    border-radius: 5px;
    border: 1px solid $border-color;
    text-align: center;
    margin: 15px;

    h2 {
        background-color: $grid-box-color;
        color: $font-alternative-color;
        margin-top: 0;
        padding: 5px;
        font-weight: 500;
    }

    a {
        text-decoration: none;
    }
}

.grid-box a:hover {
    p {
        text-decoration: underline;
    }
}

.sqlite-box {
    grid-column: 1 / -1;
}
