
$accent-color: #ee6c4d;
$background-color: #f9fafc;
$background-alternative-color: #b4b4b4;



/*--------------text----------------------------*/
$header-font: 'Mohave', sans-serif;
$main-font: 'Roboto', sans-serif;
$font-color: #000;
$font-alternative-color: #fff;
$font-size: 100%;
$line-height: 1.4;
$magic-number: 1rem * $line-height;
