{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    <div class="main" role="main">
        <div class="single-tech-grid">
            <div class="aside">
                <ul class="tech-links">
                    {% for page in pages("technologies")%}
                        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="main-content">
                {{ content }}
            </div>

        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
